html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.btn-primary {
    background-color: green;
    border-style: none;
}

.btn-primary:hover {
    background-color: greenyellow;
}

.container-fluid {
    display: flex;
    padding: 0px;
    justify-content: space-between;
    padding: 0px 8%;
}

.container-fluid ul{
    align-items: center;
    display:flex;
    padding: 0px 8%;
    vertical-align:top;
    list-style: none;
}

.container-fluid ul li {
    padding-right: 20px;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand img {
    vertical-align: middle;
    border-style: none;
    width: 100px;
}

.navbar {
    background-color: black;
}

.navbar .container-fluid{
    padding-left: 0px;
}

.navbar-nav .nav-item {
    padding-right: 30px;
}

.navbar-nav .nav-item .nav-link{
    padding-left: 0px;
}

#slides {
    height: 580px;
}

.carousel-inner .carousel-item img{
    height: 580px;
    width: 100%;
    object-fit: cover;
}

.carousel-indicators .active {
    background-color: green;
}

.carousel-indicators li {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: grey;
}

.carousel-indicators li:hover {
    cursor: pointer;
}

.carousel-caption {
    left: 12%;
    padding-right: 17%;
    text-align: left;
    top: 20%;
    align-items: center;
    width: 50%;
    height: 100%;
}

.carousel-caption .btn {
    background-color: green;
    border-radius: 0%;
}

.carousel-caption .blacktext {
    color: black;
}

.carousel-caption .blacktext .display-4{
    font-size: 130%;
}

.carousel-caption .blacktext .display-3{
    font-size: 115%;
}

.carousel-caption .mainactive .display-4{
    font-size: 220%;
}

.carousel-caption .greentext {
    color: green;
}

.main h1{
    color: green;
}

.shop, .gaming, .news, .datacenter {
    text-align: center;
    margin-top: 40px;
}

.main .container-fluid {
    margin-top: 30px;
}

.main {
    font-weight: lighter;
}

.main h1{
    font-weight: lighter;
}

.card {
    border-radius: 2%;
    text-align: left;
    -webkit-box-shadow: 0 0 4px grey;
    box-shadow: 0 0 4px grey;
}

.card:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 12px grey;
    box-shadow: 0 0 12px grey;
}

.info {
    margin-top: 50px;
    background-color: black;
    height: 400px;
    padding-top: 30px;
}

.info .information {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10%;
}

.info ul {
    display: block;
    padding: 0px;
}

.info ul li{
    list-style: none;
}

.info ul li a {
    color: green;
}

.info h4 {
    color: white;
}

.info img {
    width: 10%;
}

.info .container-fluid {
    display: flex;
    justify-content: left;
}

.contact {
    margin-top: 20px;
}

.info .signup {
    display: flex;
    margin-right: 20%;
    padding: 0px 4%;
}

.info .btn {
    border-radius: 0%;  
    padding: 0px 20px;
}


.info hr {
    border-color: white;
}

.signup h2 {
    margin-left: 20px;
    margin-right: 20px;
}

.media {
    text-align: left;
}

footer {
    width: 100%;
    height: 150px;
}

footer .navbar-brand img {
    margin-left: 10%;
    width: 10%;
}

